<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="IsEncrypt" value="false" />
    <add key="IsDebug" value="true" />
    <add key="ReadConnStrName" value="DB_Read"></add>
    <add key="WriteConnStrName" value="DB_Write"></add>

  </appSettings>
  <connectionStrings>
    <add name="DB_Read" connectionString="Data Source=192.168.1.165;Initial Catalog=DB_ZhiJuNet;User ID=sa;Password=123456;Min Pool Size=20" />
    <add name="DB_Write" connectionString="Data Source=192.168.1.165;Initial Catalog=DB_ZhiJuNet;User ID=sa;Password=123456;Min Pool Size=20" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>

        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />


        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*/" type="UrlRewriter" />
      <add verb="*" path="*/portal" type="UrlRewriter" />
      <add verb="*" path="*/market-?*" type="UrlRewriter"/>
      <add verb="*" path="*/req-?*" type="UrlRewriter" />
      <add verb="*" path="*/colleges-?*" type="UrlRewriter" />
      <add verb="*" path="*/agent-?*" type="UrlRewriter" />
      <add verb="*" path="*/news-?*" type="UrlRewriter" />
      <add verb="*" path="*/pay-?*" type="UrlRewriter" />
      <add verb="*" path="*/handlingguide-?*" type="UrlRewriter" />
      <add verb="*" path="*/policiesregulations-?*" type="UrlRewriter" />
      <add verb="*" path="*/member-?*" type="UrlRewriter" />
      <add verb="*" path="*/login" type="UrlRewriter" />
      <add verb="*" path="*/login-?*" type="UrlRewriter" />
      <add verb="*" path="*/register" type="UrlRewriter" />
      <add verb="*" path="*/forgetpassword-?*" type="UrlRewriter" />
      <add verb="*" path="*/train-?*" type="UrlRewriter" />
      <add verb="*" path="*/rightsaid-?*" type="UrlRewriter" />
      <add verb="*" path="*/operation-?*" type="UrlRewriter" />
      <add verb="*" path="*/search-?*" type="UrlRewriter" />
      <add verb="*" path="*/retrieve" type="UrlRewriter" />
      <add verb="*" path="*/footer-?*" type="UrlRewriter" />
    </httpHandlers>

    <sessionState mode="InProc" timeout="120" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="300000" />
    <pages validateRequest="false"></pages>
  </system.web>


  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

  <log4net debug="false">
    <!--按日期分割日志文件 一天一个-->
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender">
      <!--设置文件锁定模式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="Data\Log\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="时间:%d %n级别:%level %n日志内容:%m%n-----------------------------------------%n%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <!--启用按日期分割-->
      <appender-ref ref="LogFileAppenderByDate" />
    </root>


  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
